<!-- Page for when user doesn't select an object -->
{% extends "layout.html" %}

{% block title %}
    Result
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Angry Cat is Angry</h2>
        <img alt="sad" class="border img-fluid center" src="https://api.memegen.link/images/custom/Why_didn't_you_pick/an_object.jpg?background=https://i.imgur.com/CsCgN7Ll.png&width=400" title="Sad">
        <h2 class="text-center mb-4">Pick an object next time</h2>
        <div class="text-center">
            <a href="/" class="btn btn-primary mt-4">Try again</a>
        </div>
    </div>
{% endblock %}
